.navbar {
  background: transparent;
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background 0.3s ease-in-out;
}

.navbar.scrolled {
  background: var(--background-color);
}

.mobile-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-color);
    transition: transform 0.3s ease;
  }

  .mobile-icon.open {
    transform: translate(-100%, 60%) rotate(180deg);
  }

  .navbar {
    transition: 0.8s all ease;
  }
}
